
                              <div class="panel panel-default">
                                <div class="panel-heading">
                               <div class="container">
   								<ul class="nav navbar-nav" style=" color: #9197a3; font-size: 14px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
   								<li style="padding-right:30px; padding-left:30px; border-right: 1px solid #ccc;"><a href="#">Timeline</a></li>
   								<li style="padding-right:30px; padding-left:30px; border-right: 1px solid #ccc;"><a href="#">About</a></li>
   								<li style="padding-right:30px; padding-left:30px; border-right: 1px solid #ccc;"><a href="#">Friends</a></li>
   								<li style="padding-right:47px; padding-left:30px;"><a href="#">Photos</a></li>
   								</ul>
   								</div>
                                </div>
                               	<div class="panel-body">
                               	<h4><img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">Friends
                               	<div class="input-group input-group-sm" style="max-width:360px;">
                          		
                          		<input type="text" class="typeahead form-control" placeholder="Search" name="srch-term" id="srch-term" style="width:350px;">
                          		<div class="input-group-btn">
                           		 	<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                         		</div>
                         		
                        		</div>
                        		</h4>
                               	
	                                  <hr width="575px" style="margin-left:-15px">
	                                  <div>
	                                  <ul>
	                                  <li class="list-unstyled" style="margin-left:-10px;margin-top:20px"><p>friend1<button class="btn btn-success btn-sm" style="margin-right:20px;margin-left:300px">Add friend</button></p></li>
	                                  <li class="list-unstyled" style="margin-left:-10px;margin-top:20px"><p>friend2<button class="btn btn-success btn-sm" style="margin-right:20px;margin-left:300px">Add friend</button></p></li>
	                                  </ul>
	                                  </div>
	                                  <div>
	                                  <ul>
	                                  <li class="list-unstyled" style="margin-left:-10px;margin-top:20px"><p>friend1<button class="btn btn-primary btn-sm" style="margin-right:20px;margin-left:300px">Confirm</button></p></li>
	                                  <li class="list-unstyled" style="margin-left:-10px;margin-top:20px"><p>friend2<button class="btn btn-primary btn-sm" style="margin-right:20px;margin-left:300px">Confirm</button></p></li>
	                                  </ul>
	                                  </div>
	                                  <div>
	                                  <ul>
	                                  <li class="list-unstyled" style="margin-left:-10px;margin-top:20px"><p>friend1<button class="btn btn-default btn-sm" style="margin-right:20px;margin-left:300px">Friends</button></p></li>
	                                  <li class="list-unstyled" style="margin-left:-10px;margin-top:20px"><p>friend2<button class="btn btn-default btn-sm" style="margin-right:20px;margin-left:300px">Friends</button></p></li>
	                                  </ul>
	                                  </div>
	                                 </div>
	                                 </div>